
.container {
}

.matrixContainer {
    padding-left: 5px;
    overflow-y: scroll;
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
}
.matrixContainer:after {
    content: '';
    display: block;
    clear: both;
}

.matrix {
    position: relative;
    overflow: visible;
    padding: 5px;
    margin-bottom: 10px;
    width: 260px;
    color: rgb(153, 153, 153);
    background-color: rgb(255, 255, 255);
}
.matrix > div > div {
    display: inline-block;
}
.matrix .matrix-btn-remove {
    position: absolute;
    top: 0;
    right: 0;
}
.matrix-pressed {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.matrix input {
    width: 60px;
    margin: 2px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
}


.matrix input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.btns {
    margin: 5px;
}
.btns button {
    margin-left: 5px;
}

.btn-with-label > div {
    display: inline-block;
}
.btn-with-label .btn-label {
    position: absolute;
    top: 9px;
    margin-left: 10px;
    padding: 4px;
    font-size: 13px;
}