
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    border-left: 1px solid black;
    padding: 5px;
    overflow-y: scroll;
    background: #f7f7f7;
}
.interface {
}
.matrixContainer {
    padding-left: 20px;
}
.matrix {
    position: absolute;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.matrix-pressed {
    user-select: none;
}
.matrix input {
    width: 60px;
    margin: 2px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
}


.matrix input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.btns {
    margin: 5px;
}
.btns button {
    margin-left: 5px;
}