

.matrixContainer {
    padding-left: 20px;
}
.matrix {
    position: absolute;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    padding: 5px;
    width: 250px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.matrix > div > div {
    display: inline-block;
}
.matrix .matrix-btn-remove {
    float: right;
}
.matrix-pressed {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.matrix input {
    width: 60px;
    margin: 2px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
}


.matrix input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.btns {
    margin: 5px;
}
.btns button {
    margin-left: 5px;
}

.btn-with-label > div {
    display: inline-block;
}
.btn-with-label .btn-label {
    position: absolute;
    top: 9px;
    margin-left: 10px;
    padding: 4px;
    font-size: 13px;
}